-#.my-2
-#  %h2.text-left.font-medium.mb-4 Dokończ rejestrację uzupełniając poniższe pola
-#  = debug(@user.name)
-#  = simple_form_for(@user, url: users_path, html: { class: 'text-left w-full', novalidate: true }) do |f|
-#    = f.input :name, required: true, autofocus: true
-#    = f.input :email, required: true
-#
-#    .form-actions.text-center
-#      = f.button :submit, 'Zarejestruj się', class: 'p-3 mt-3 text-black', data: { disable_with: 'chwileczkę' }
-#
.mx-auto{ class: 'w-2/3 lg:w-1/2' }
  %h2.text-left.text-2xl.mb-4 Coming soon
  = simple_form_for(@user, url: users_path, builder: SimpleForm::Tailwind::FormBuilder,
    html: { novalidate: true }, data: { controller: 'form', form_target: 'form', action: 'submit->form#submitForm' }) do |f|
    = f.error_notification

    = f.input :email, autocomplete: 'email', placeholder: 'email', label: 'Your email', require: true, input_html: { data: { action: 'keyup->form#validateEmail' } }
    = f.input :name, autocomplete: 'name', placeholder: 'name', label: 'Your name', require: true, input_html: { data: { action: 'keyup->form#validateName' } }

    = f.submit 'Join the waiting list', class: 'submit-btn'
