!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title FormApp
    %meta{:content => 'width=device-width,initial-scale=1', :name => 'viewport'}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body.min-h-screen.h-full
    %main.w-screen.min-h-screen.flex.items-center.border
      .container.mx-auto.m-20.p-4
        = yield
